h1 {
    color: navy;
    background-color: lemonchiffon;
}
/* This is just a comment */

h2 {
    /* TODO: We will probably move this to a multi selector element*/
    color: navy;
    background-color: lemonchiffon;
}