#container h1, #container h2 {
    color: navy;
    background-color: lemonchiffon;
}

.fancy-header {
    color: yellowgreen;
}

.xl {
    font-size: 30px;
}

#end-title {
    color: darkred;
}

/* This is just a comment */