:root {
    --main-bg: #77A34A;
    --duck-bg: #FFC62F;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--main-bg);
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px #2c2c2c solid;
    border-radius: 5px;
}

.message-info {
    background-color: #c1d4f7;
    color: #39404c;
}

.message-success {
    background-color: #9cdd77;
    color: #435a2f;
}

.message-warning {
    background-color: var(--duck-bg);
    color: #3e3521;
}

.message-error {
    background-color: #de5050;
    color: #480e0e;
}